<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <!-- 0️⃣ Remove trailing slash (except for root) -->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{R:1}" pattern="^$" negate="true" />
          </conditions>
          <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- 1?? Rewrite to .html if such file exists -->
        <rule name="Rewrite to existing HTML" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- 2?? Redirect unknown routes to 404.html -->
        <rule name="Rewrite to 404" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="404.html" />
        </rule>

      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>